In [4]:
print('Hello World')
print('Hello World')

Hello World
Hello World

In [5]:
2**32

4294967296

In [6]:
str1 = "world's"
print(str1)

world's

In [7]:
a= 1

In [8]:
type (a)

int

In [9]:
b= 2.3

In [10]:
float

float

In [11]:
type (c)

NameError: name 'c' is not defined

In [12]:
a = "I'm walking"

In [14]:
a = "hello world"

In [15]:
a.upper()

'HELLO WORLD'

In [16]:
a.tittle()

AttributeError: 'str' object has no attribute 'tittle'

In [17]:
a[0:1]

'h'

In [18]:
len(a)

11

In [19]:
a.count('l')

3

In [20]:
a.count(lo)

NameError: name 'lo' is not defined

In [21]:
a.count('lo')

1

In [22]:
a

'hello world'

In [23]:
a.find('h')

0

In [24]:
a.find('z')

-1

In [25]:
a.find('l') #your comment

2

In [26]:
a[0:3].find('l')

2

In [27]:
b

2.3

In [36]:
a = [1,2,3,4,5,6, "hello",True]

In [29]:
type(a)

list

In [33]:
a[5]

6

In [34]:
a[0:4]

[1, 2, 3, 4]

In [37]:
a[3:]

[4, 5, 6, 'hello', True]

In [38]:
a[:5]

[1, 2, 3, 4, 5]

In [39]:
a[0:4:2]

[1, 3]

In [40]:
a[::-1]

[True, 'hello', 6, 5, 4, 3, 2, 1]

In [41]:
a[Art of war]

SyntaxError: invalid syntax (<ipython-input-41-9b1b9c77b15a>, line 1)

In [42]:
a= "Art of war"

In [43]:
type(a)

str

In [44]:
a[::-1]

'raw fo trA'

In [45]:
a[0:-2]

'Art of w'

In [46]:
a[0:2:-1]

''

In [47]:
a[0:5]

'Art o'

In [48]:
a[2::-1]

'trA'

In [49]:
a.index("hello")

ValueError: substring not found

In [50]:
a.index(hello)

NameError: name 'hello' is not defined

In [51]:
a

'Art of war'

In [52]:
a= 'art of war'

In [53]:
a[0::-1]

'a'

In [54]:
a[::-1]

'raw fo tra'

In [55]:
s = "abcd"

In [56]:
e = "xywz"

In [64]:
user = 'e'

In [65]:
user_index = s.find(user)

In [66]:
user_index

-1

In [67]:
e[user_index]

'z'

In [68]:
if True:

SyntaxError: unexpected EOF while parsing (<ipython-input-68-2c8a33b52dfb>, line 1)

In [75]:
user_list = 'ba'

In [77]:
for user in user_list:
    user_index = s.find(user)
    
    if user_index != -1:
        print(e[user_index])
    else:
        print("not found")

y
x

In [71]:
user = 'ba'

In [72]:
a = ["a", "hello", "c"]

for

In [74]:
for item1 in a:
    print(item1)
    print("")

a

hello

c

In [87]:
d = {'a' :1, 'b': 2, 'c': 3}

In [79]:
type (d)

dict

In [82]:
d[4]

KeyError: 4

In [88]:
for key1 in d:
    print (d[key1])

1
2
3

In [89]:
import pandas

In [91]:
df = pandas.DataFrame({'a': [1,2], 'b': [3,4]})

In [92]:
type(df)

pandas.core.frame.DataFrame

In [93]:
len(df)

2

In [94]:
df

   a  b
0  1  3
1  2  4

In [95]:
import pandas as pd

In [100]:
df = pd.read_csv("physician_rx.csv")

In [101]:
df.head()

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [114]:
df[["PHYSICIAN", "AllergyMax_RX"]][0:4]

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0

In [115]:
df.loc[0:4, ["PHYSICIAN", "AllergyMax_RX"]]

   PHYSICIAN  AllergyMax_RX
0  AP1912920            510
1  AP1350415             60
2  AP0129322              0
3  AP0462902              0
4  AP3185026           1080

In [121]:
df.iloc[0:4, 0:7]

   PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900

In [127]:
my_df=df [df["CroMax_RX"] > 50]

In [135]:
df[(df["CroMax_RX"]> 50) & (df["GlycoMax_RX"] > 50)]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
1   AP1350415     2370.0         1320             60       1416        2676
7         NaN      150.0          315            270        184          36
10  AP1934892      640.0          390              0        280           0
14        NaN       90.0          150              0          0         204
16  AP0036951      330.0          525              0          0           0
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
26        NaN      150.0          220            510         32        1128
29  AP0089696      930.0          250           3435          0         396
31  AP0692473       90.0          215            375          0         348
40  AP0438309      370.0           85              0          0         780
42  AP1326350       80.0          250            690        128          48
53  AP1976314      170.0          495              0        200          24
55  AP3632706      140.0          380            165         32           0
56  AP1871832      140.0          345              0          0          36
57  AP0092627     1360.0         1090            210         24         192
59  AP1815618      140.0          110              0         24           0
64  AP0093884       80.0           65           1365          0           0
67  AP0476079       80.0           70             75          0           0
68  AP1822470      120.0          330           1200          0         504
71  AP0118925      160.0          375              0        240           0
74  AP1869077     1830.0          140              0        488          72
76  AP1230067      110.0           70              0          0           0
79  AP1336198      150.0          615              0          0           0
82  AP1834639      270.0         1240             60         40          60
85  AP0478796      630.0          240            150          0          96
87  AP2459335      320.0          320              0        256          12
89  AP0433841      120.0           65              0          0           0
96  AP1273998      480.0          630              0          0           0

In [136]:
df.iloc[0:1, 0:1]

   PHYSICIAN
0  AP1912920

In [137]:
df.iat[0,0]

'AP1912920'

In [140]:
df["CroMax_RX"].isnull().sum()

4

In [142]:
df[df["CroMax_RX"].isnull()]

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
33  AP0464297        NaN          405              0          0          36
48  AP1948690        NaN          105            690          8           0
65  AP2102094        NaN          220              0        432         216
88  AP0812453        NaN           45              0          0         264

In [144]:
df["CroMax_RX"] = df["CroMax_RX"].fillna(0)

In [145]:
df.isnull().sum()

PHYSICIAN        4
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [146]:
df = df.dropna()

In [148]:
df.isnull().sum()

PHYSICIAN        0
CroMax_RX        0
GlycoMax_RX      0
AllergyMax_RX    0
FevMax_RX        0
ColdMax_RX       0
dtype: int64

In [154]:
df.columns = ['PHY', 'CroMax_RX', 'GlycoMax_RX', 'AllergyMax_RX', 'FevMax_RX', 'ColdMax_RX']

In [155]:
df.head()

         PHY  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [156]:
df= df.rename (columns={'PHY': 'Physician'})

In [157]:
df.head()

   Physician  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [158]:
"hello world" .replace("l", "z")

'hezzo worzd'

In [161]:
df.columns = df.columns.str.replace("_", ".")

In [162]:
df.head()

   Physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AP1912920        0.0           50            510        152           0
1  AP1350415     2370.0         1320             60       1416        2676
2  AP0129322        0.0           85              0          0         144
3  AP0462902       30.0          570              0        128        3900
4  AP3185026        0.0           40           1080          0           0

In [165]:
df["Physician"] = df["Physician"].str.replace("AP", "AB")

In [166]:
df.head()

   Physician  CroMax.RX  GlycoMax.RX  AllergyMax.RX  FevMax.RX  ColdMax.RX
0  AB1912920        0.0           50            510        152           0
1  AB1350415     2370.0         1320             60       1416        2676
2  AB0129322        0.0           85              0          0         144
3  AB0462902       30.0          570              0        128        3900
4  AB3185026        0.0           40           1080          0           0

In [167]:
df["bucket"] = "B1"

In [168]:
df.head()

,Physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B1

In [170]:
df["CroMax_RX"] > 50]

SyntaxError: invalid syntax (<ipython-input-170-7b151cbbff47>, line 1)

In [171]:
df.print

AttributeError: 'DataFrame' object has no attribute 'print'

In [172]:
df.head()

,Physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B1

In [173]:
df[(df["CroMax_RX"]> 50) & (df["GlycoMax_RX"] > 50)]

KeyError: 'CroMax_RX'

In [174]:
my_df=df [df["CroMax_RX"] > 50]

KeyError: 'CroMax_RX'

In [176]:
df.head()

,Physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,AB1912920,0.0,50,510,152,0,B1
1,AB1350415,2370.0,1320,60,1416,2676,B1
2,AB0129322,0.0,85,0,0,144,B1
3,AB0462902,30.0,570,0,128,3900,B1
4,AB3185026,0.0,40,1080,0,0,B1

In [178]:
df.loc[(df["CroMax.RX"] > 50) & (df["GlycoMax.RX"] > 50), "bucket"] = "B1"

In [181]:
df["new_Physician"] = df["bucket"] + "_" + df["Physician"]

In [183]:
df.head()

,Physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,new_Physician
0,AB1912920,0.0,50,510,152,0,B1,B1_AB1912920
1,AB1350415,2370.0,1320,60,1416,2676,B1,B1_AB1350415
2,AB0129322,0.0,85,0,0,144,B1,B1_AB0129322
3,AB0462902,30.0,570,0,128,3900,B1,B1_AB0462902
4,AB3185026,0.0,40,1080,0,0,B1,B1_AB3185026

In [185]:
df column

SyntaxError: invalid syntax (<ipython-input-185-4926c0a63a03>, line 1)

In [187]:
df.columns

Index(['Physician', 'CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX', 'FevMax.RX',
       'ColdMax.RX', 'bucket', 'new_Physician'],
      dtype='object')

In [188]:
df = df[['new_Physician', 'CroMax.RX', 'GlycoMax.RX', 'AllergyMax.RX', 'FevMax.RX',
       'ColdMax.RX', 'bucket']]

In [189]:
df.head()

,new_Physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket
0,B1_AB1912920,0.0,50,510,152,0,B1
1,B1_AB1350415,2370.0,1320,60,1416,2676,B1
2,B1_AB0129322,0.0,85,0,0,144,B1
3,B1_AB0462902,30.0,570,0,128,3900,B1
4,B1_AB3185026,0.0,40,1080,0,0,B1

In [194]:
df.head()

,new_Physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,Physician
0,B1_AB1912920,0.0,50,510,152,0,B1,AB1912920
1,B1_AB1350415,2370.0,1320,60,1416,2676,B1,AB1350415
2,B1_AB0129322,0.0,85,0,0,144,B1,AB0129322
3,B1_AB0462902,30.0,570,0,128,3900,B1,AB0462902
4,B1_AB3185026,0.0,40,1080,0,0,B1,AB3185026

In [199]:
df["new_Physician"] = df["new_Physician"].str.split("_").str[1]
df["bucket"] = df["new_Physician"].str.split("_").str[0]

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [200]:
df.head()

,new_Physician,CroMax.RX,GlycoMax.RX,AllergyMax.RX,FevMax.RX,ColdMax.RX,bucket,Physician
0,NaN,0.0,50,510,152,0,B1,AB1912920
1,NaN,2370.0,1320,60,1416,2676,B1,AB1350415
2,NaN,0.0,85,0,0,144,B1,AB0129322
3,NaN,30.0,570,0,128,3900,B1,AB0462902
4,NaN,0.0,40,1080,0,0,B1,AB3185026